services:
  mongodb:
    build:
      context: ./web_app/mongodb
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

  flask-app:
    build:
      context: ./web_app
    container_name: flask-app
    ports:
      - "8080:8080"  
    environment:
      - MONGO_URI=mongodb://mongodb:27017/
    depends_on:
      - mongodb
    networks:
      - app-network
    command: ["gunicorn", "-w", "2", "-b", "0.0.0.0:8080", "app:create_app()"]


volumes:
  mongodb_data:

networks:
  app-network: